<html charset='utf-8'>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/uiManage.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/hover.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/date-tip.css">
    <link rel="stylesheet" href="assets/css/animated.css" />

<body>
    <div id='admin'>
    </div>
    <script src="jquery.min.js"></script>
    <script src='admin.App.js'></script>

</body>
</html>
