<html charset='utf-8'>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/uiManage.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/hover.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/date-tip.css">
    <link rel="stylesheet" href="codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="codemirror/theme/dracula.css" />
    <link rel="stylesheet" href="assets/css/animated.css" />
    <style>
    .content-wrapper .CodeMirror {
        height: 200px!important;
        width: 206px!important;
    }
    .advancededitor .CodeMirror {
            height: 100%!important;
            width: 100%!important;
    }
    </style>
    <link rel="stylesheet" href="codemirror/addon/hint/show-hint.css">
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/addon/hint/show-hint.js"></script>
    <script src="codemirror/addon/hint/xml-hint.js"></script>
    <script src="codemirror/addon/hint/html-hint.js"></script>
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/mode/xml/xml.js"></script>
    <script src="codemirror/mode/css/css.js"></script>
    <script src="codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="codemirror/mode/javascript/javascript.js"></script>
    <script src="codemirror/keymap/sublime.js"></script>
    <script src="codemirror/emmet.js"></script>
    <script src="jquery.min.js"></script>
</head>

<body>
    <div id='app'>
    </div>
    <script src='uimanage.App.js'></script>
</body>
<script>

</script>

</html>
